<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Вы искали: полет №{{ param }} </title>
</head>
<body>
<div class="container">
    {% if rows == 1 %}
        <h4>Поздравляем! Вы пропустили рейс</h4>
    {% else %}
        <h4>Поздравляем! Вы не пропустили рейс</h4>
    {% endif %}
</div>
</body>
</html>